### initialisation de spark

In [23]:
from pyspark.sql import SparkSession


spark = SparkSession.builder .appName("TransportProject") .getOrCreate()

### load data

In [24]:
df_bronze=spark.read.parquet('data/bronze/dataset.parquet')
df_bronze.show(5)
print(f"Nombre de lignes (Bronze) : {df_bronze.count()}")

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows
Nombre de lignes (Bronze) : 3475226

In [25]:
from pyspark.sql.functions import col, when, count,isnan
from pyspark.sql.types import DoubleType, FloatType

def check_missing_values(df):
    exprs = []
    
    for field in df.schema.fields:
        c = field.name
        dtype = field.dataType
        
        # Numeric columns â†’ check NULL or NaN
        if isinstance(dtype, (DoubleType, FloatType)):
            exprs.append(
                count(
                    when(col(c).isNull() | isnan(col(c)), c)
                ).alias(c)
            )
        # Other types â†’ only NULL
        else:
            exprs.append(
                count(
                    when(col(c).isNull(), c)
                ).alias(c)
            )

    df.select(exprs).show(truncate=False)

check_missing_values(df_bronze)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|0       |0                   |0                    |540149         |0            |540149    |540149            |0           |0           |0           |0          |0    |0      |0         |0           |0                    |0           |540149              |540149     |0                 |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+

### handle missing values

In [26]:
from pyspark.sql.functions import col, unix_timestamp, hour, dayofweek, month, round
from pyspark.sql.types import (DoubleType, FloatType, IntegerType, LongType, StringType)

def handle_missing_values(df):

    # 1ï¸âƒ£ NUMERIC columns (Double / Float only â†’ mean)
    numeric_cols = [
        field.name for field in df.schema.fields
        if isinstance(field.dataType, (DoubleType, FloatType))
    ]

    for col_name in numeric_cols:
        mean_value = (
            df.select(col_name)
              .where(col(col_name).isNotNull())
              .groupBy()
              .mean()
              .first()[0]
        )

        if mean_value is not None:
            df = df.na.fill({col_name: mean_value})

    # 2ï¸âƒ£ INTEGER columns (IDs, counts) â†’ fill with -1 or 0
    int_cols = [
        field.name for field in df.schema.fields
        if isinstance(field.dataType, (IntegerType, LongType))
    ]

    for col_name in int_cols:
        df = df.na.fill({col_name: -1})

    # 3ï¸âƒ£ STRING columns ONLY â†’ fill with "Unknown"
    string_cols = [
        field.name for field in df.schema.fields
        if isinstance(field.dataType, StringType)
    ]

    for col_name in string_cols:
        df = df.na.fill({col_name: "Unknown"})

    # 4ï¸âƒ£ DO NOTHING for TIMESTAMP columns (very important)
    return df


df_cleaned = handle_missing_values(df_bronze)

### handle duplicates

In [27]:
def handle_duplicates(df):
    return df.dropDuplicates()

df_no_duplicates = handle_duplicates(df_cleaned)

### Silver Layer

In [28]:
from pyspark.sql.functions import (
    col, unix_timestamp, hour, dayofweek, month, round
)

# ðŸ”¹ SÃ©curitÃ© : supprimer les colonnes si elles existent dÃ©jÃ 
cols_to_drop = ["duration_minutes", "pickuphour", "dayof_week", "month"]
df_silver = df_no_duplicates.drop(*[c for c in cols_to_drop if c in df_no_duplicates.columns])

# 1ï¸âƒ£ Calcul de la durÃ©e en minutes
df_silver = df_silver.withColumn(
    "duration_minutes",
    round(
        (unix_timestamp("tpep_dropoff_datetime") -
         unix_timestamp("tpep_pickup_datetime")) / 60,
        2
    )
)

# 2ï¸âƒ£ Filtrage des trajets aberrants
df_silver = df_silver.filter(
    (col("trip_distance") > 0) &
    (col("trip_distance") <= 200) &
    (col("duration_minutes") > 0) &
    (col("passenger_count") > 0)
)

# 3ï¸âƒ£ Features temporelles
df_silver = (
    df_silver
    .withColumn("pickuphour", hour("tpep_pickup_datetime"))
    .withColumn("dayof_week", dayofweek("tpep_pickup_datetime"))
    .withColumn("month", month("tpep_pickup_datetime"))
)

# 4ï¸âƒ£ VÃ©rification
df_silver.show(5)
df_silver.printSchema()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------------+----------+----------+-----+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|duration_minutes|pickuphour|dayof_week|month|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------------+----------+----------+-----+
|       2| 2025-01-01 00:40:52|  2025-01-01 00:44:10|              1|         0.55|         1|                 N|         237|         237|           1|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                 2.5|        0.0|               0.0|             3.3|         0|         4|    1|
|       2| 2025-01-01 00:49:54|  2025-01-01 01:05:46|              1|         3.01|         1|                 N|         148|          13|           1|       18.4|  1.0|    0.5|      4.68|         0.0|                  1.0|       28.08|                 2.5|        0.0|               0.0|           15.87|         0|         4|    1|
|       2| 2025-01-01 00:28:00|  2025-01-01 00:34:08|              1|         1.41|         1|                 N|         141|         263|           1|        8.6|  1.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 2.5|        0.0|               0.0|            6.13|         0|         4|    1|
|       2| 2025-01-01 00:25:46|  2025-01-01 00:37:45|              1|         1.74|         1|                 N|         113|          68|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|               0.0|           11.98|         0|         4|    1|
|       2| 2025-01-01 00:46:53|  2025-01-01 00:54:46|              3|         1.12|         1|                 N|         209|         148|           1|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|               0.0|            7.88|         0|         4|    1|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------------+----------+----------+-----+
only showing top 5 rows
root
 |-- VendorID: integer (nullable = false)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = false)
 |-- trip_distance: double (nullable = false)
 |-- RatecodeID: long (nullable = false)
 |-- store_and_fwd_flag: string (nullable = false)
 |-- PULocationID: integer (nullable = false)
 |-- DOLocationID: integer (nullable = false)
 |-- payment_type: long (nullable = false)
 |-- fare_amount: double (nullable = false)
 |-- extra: double (nullable = false)
 |-- mta_tax: double (nullable = false)
 |-- tip_amount: double (nullable = false)
 |-- tolls_amount: double (nullable = false)
 |-- improvement_surcharge: double (nullable = false)
 |-- total_amount: double (nullable = false)
 |-- congestion_surcharge: double (nullable = false)
 |-- Airport_fee: double (nullable = false)
 |-- cbd_congestion_fee: double (nullable = false)
 |-- duration_minutes: double (nullable = true)
 |-- pickuphour: integer (nullable = true)
 |-- dayof_week: integer (nullable = true)
 |-- month: integer (nullable = true)

In [29]:
df_silver.select(
    "trip_distance",
    "duration_minutes",
    "passenger_count",
    "pickuphour",
    "dayof_week",
    "month"
).summary().show()

+-------+------------------+------------------+------------------+------------------+------------------+--------------------+
|summary|     trip_distance|  duration_minutes|   passenger_count|        pickuphour|        dayof_week|               month|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+
|  count|           2871275|           2871275|           2871275|           2871275|           2871275|             2871275|
|   mean|3.1930232631845143|15.111674618418885|1.3080283149471925|14.387960749144543| 4.247460448755344|  1.0000808003413117|
| stddev| 4.359738082143162|29.095096636594906|0.7430467194763688| 5.534282505920479|1.8933577854610746|0.029754239374199302|
|    min|              0.01|              0.02|                 1|                 0|                 1|                   1|
|    25%|              0.99|              7.05|                 1|                11|                 3|                   1|
|    50%|              1.63|             11.35|                 1|                15|                 4|                   1|
|    75%|              3.01|             18.15|                 1|                19|                 6|                   1|
|    max|             199.3|           5626.32|                 9|                23|                 7|                  12|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+

### Stockage Silver

In [ ]:

df_silver.write \
    .mode("overwrite") \
    .parquet("data/silver")

26/01/07 10:11:26 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers